body {
  background-color: black;
}
#searchHome {
  display: block;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 10%;
  font-size: x-large;
  border-radius: 5px;
}
#searchBarHome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
