body {
  background-color: black;
}
.item1 {
  grid-area: leftMenu;
}
.item2 {
  grid-area: flexi;
}
.item3 {
  grid-area: search;
  justify-content: center;
}
.item4 {
  grid-area: frequent;
}
.item5 {
  grid-area: rightMenu;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "leftMenu flexi flexi flexi flexi flexi flexi flexi flexi rightMenu"
    "leftMenu flexi flexi flexi flexi flexi flexi flexi flexi rightMenu"
    "leftMenu flexi flexi flexi flexi flexi flexi flexi flexi rightMenu"
    "leftMenu flexi flexi flexi flexi flexi flexi flexi flexi rightMenu"
    "leftMenu search search search search search search search search rightMenu"
    "leftMenu frequent frequent frequent frequent frequent frequent frequent frequent rightMenu"
    "leftMenu frequent frequent frequent frequent frequent frequent frequent frequent rightMenu"
    "leftMenu frequent frequent frequent frequent frequent frequent frequent frequent rightMenu"
    "leftMenu frequent frequent frequent frequent frequent frequent frequent frequent rightMenu"
    "leftMenu frequent frequent frequent frequent frequent frequent frequent frequent rightMenu";
  background-color: azure;
  grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
  background-color: aliceblue;
}

.grid-container > div {
  background-color: black;
}
.item1 {
  text-align: center;
  vertical-align: middle;
}
.item2 {
  color: whitesmoke;
}
.item3 {
  text-align: center;
}
.item4 {
  text-align: center;
}
.item5 {
  color: wheat;
  background-color: aquamarine;
}
#linkIcons {
  height: 8vh;
}
#query {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  max-height: 5vh;
  max-width: 25vw;
  min-width: 25vw;
  border-radius: 5px;
  background-color: rgb(40, 40, 40);
  flex-direction: row;
  padding: 6px 10px;
  color: aliceblue;
  border-color: black;
  border-bottom: 2px black;
  border-right: 2px black;
}
#tempIcon {
  max-height: 5vh;
  text-align: center;
  padding-bottom: 1vh;
}
#temperature {
  text-align: center;
  color: aliceblue;
}

#leftIcons {
  height: 8vh;
  float: center;
  vertical-align: middle;
}
