#categories {
  background-color: rgb(25, 96, 248);
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 20%;
  width: 100%;
  font-size: 200%;
  border-radius: 20px;
}
#categories:hover {
  background-color: rgb(22, 65, 158);
  color: aliceblue;
}
