#content,
html,
body {
  height: 100%;
}
#left {
  float: left;
  width: 20%;
  background: rgb(25, 96, 248);
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  padding: 0.5em;
}
#right {
  float: left;
  width: 80%;
  background: rgb(255, 255, 255);
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  padding: 1.5em;
  padding-top: 3em;
  padding-bottom: 3em;
}
#pageTitle {
  text-align: center;
  text-rendering: geometricPrecision;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5vw;
}
#contact {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 150%;
}
#institutelabel {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5vw;
}
#tabletitle {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5vw;
}
#tableDivider {
  overflow-x: scroll;
}
